<footer>
  <!--Desktop-->
  <div class="uk-flex uk-flex-middle animated fadeIn delay-1s fast">
    <div class="uk-container uk-width-1-1">
      <div class="uk-flex uk-flex-right" uk-grid>
        <div class="uk-width-1-1@m">
        </div>
      </div>
    </div>
  </div>
    <!--end desktop-->
    <!--Mobile-->
    <!--end mobile-->

</footer>
