<header uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 600">
    <nav class="uk-navbar-container animated fadeIn delay-1s">
      <div class="uk-container uk-width-1-1 nav-width">
        <div uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-list">
              <li>
                <a href="{{ site.url }}" class="logo-navbar">
                  <svg width="199" height="94" viewBox="0 0 199 94" style="width: 66%" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.2198 0.360001H8.8498V15.72H19.4398V21H2.2198V0.360001Z" fill="white"/>
                  <path d="M24.3296 21V0.360001H30.9596V21H24.3296Z" fill="white"/>
                  <path d="M46.1597 0C48.7997 0 50.9697 0.54 52.6697 1.62C54.3697 2.68 55.2397 4.26 55.2797 6.36V6.72H49.0697V6.6C49.0697 6 48.8497 5.5 48.4097 5.1C47.9697 4.7 47.2997 4.5 46.3997 4.5C45.5197 4.5 44.8397 4.63 44.3597 4.89C43.8997 5.15 43.6697 5.47 43.6697 5.85C43.6697 6.39 43.9897 6.79 44.6297 7.05C45.2697 7.31 46.2997 7.58 47.7197 7.86C49.3797 8.2 50.7397 8.56 51.7997 8.94C52.8797 9.3 53.8197 9.9 54.6197 10.74C55.4197 11.58 55.8297 12.72 55.8497 14.16C55.8497 16.6 55.0197 18.41 53.3597 19.59C51.7197 20.77 49.5197 21.36 46.7597 21.36C43.5397 21.36 41.0297 20.82 39.2297 19.74C37.4497 18.66 36.5597 16.75 36.5597 14.01H42.8297C42.8297 15.05 43.0997 15.75 43.6397 16.11C44.1797 16.45 45.0197 16.62 46.1597 16.62C46.9997 16.62 47.6897 16.53 48.2297 16.35C48.7897 16.17 49.0697 15.8 49.0697 15.24C49.0697 14.74 48.7597 14.37 48.1397 14.13C47.5397 13.87 46.5497 13.6 45.1697 13.32C43.4897 12.96 42.0997 12.59 40.9997 12.21C39.8997 11.81 38.9397 11.16 38.1197 10.26C37.2997 9.36 36.8897 8.14 36.8897 6.6C36.8897 4.34 37.7597 2.68 39.4997 1.62C41.2597 0.54 43.4797 0 46.1597 0Z" fill="white"/>
                  <path d="M69.6101 0C72.2501 0 74.4201 0.54 76.1201 1.62C77.8201 2.68 78.6901 4.26 78.7301 6.36V6.72H72.5201V6.6C72.5201 6 72.3001 5.5 71.8601 5.1C71.4201 4.7 70.7501 4.5 69.8501 4.5C68.9701 4.5 68.2901 4.63 67.8101 4.89C67.3501 5.15 67.1201 5.47 67.1201 5.85C67.1201 6.39 67.4401 6.79 68.0801 7.05C68.7201 7.31 69.7501 7.58 71.1701 7.86C72.8301 8.2 74.1901 8.56 75.2501 8.94C76.3301 9.3 77.2701 9.9 78.0701 10.74C78.8701 11.58 79.2801 12.72 79.3001 14.16C79.3001 16.6 78.4701 18.41 76.8101 19.59C75.1701 20.77 72.9701 21.36 70.2101 21.36C66.9901 21.36 64.4801 20.82 62.6801 19.74C60.9001 18.66 60.0101 16.75 60.0101 14.01H66.2801C66.2801 15.05 66.5501 15.75 67.0901 16.11C67.6301 16.45 68.4701 16.62 69.6101 16.62C70.4501 16.62 71.1401 16.53 71.6801 16.35C72.2401 16.17 72.5201 15.8 72.5201 15.24C72.5201 14.74 72.2101 14.37 71.5901 14.13C70.9901 13.87 70.0001 13.6 68.6201 13.32C66.9401 12.96 65.5501 12.59 64.4501 12.21C63.3501 11.81 62.3901 11.16 61.5701 10.26C60.7501 9.36 60.3401 8.14 60.3401 6.6C60.3401 4.34 61.2101 2.68 62.9501 1.62C64.7101 0.54 66.9301 0 69.6101 0Z" fill="white"/>
                  <path d="M84.3905 0.360001H102.241V5.31H91.0205V8.16H100.62V12.9H91.0205V16.05H102.451V21H84.3905V0.360001Z" fill="white"/>
                  <path d="M119.721 5.64V21H113.091V5.64H106.311V0.360001H126.471V5.64H119.721Z" fill="white"/>
                  <path d="M143.171 5.64V21H136.541V5.64H129.761V0.360001H149.921V5.64H143.171Z" fill="white"/>
                  <path d="M12.5998 36C14.5798 36 16.3598 36.3 17.9398 36.9C19.5198 37.5 20.7698 38.39 21.6898 39.57C22.6298 40.73 23.0998 42.15 23.0998 43.83H16.7698C16.7698 42.97 16.3898 42.28 15.6298 41.76C14.8698 41.22 13.9498 40.95 12.8698 40.95C11.3098 40.95 10.1298 41.37 9.32981 42.21C8.52981 43.03 8.12981 44.2 8.12981 45.72V47.64C8.12981 49.16 8.52981 50.34 9.32981 51.18C10.1298 52 11.3098 52.41 12.8698 52.41C13.9498 52.41 14.8698 52.16 15.6298 51.66C16.3898 51.14 16.7698 50.48 16.7698 49.68H12.0898V45.48H23.0998V57H19.6798L19.0198 54.96C17.1398 56.56 14.6798 57.36 11.6398 57.36C8.2198 57.36 5.6498 56.47 3.92981 54.69C2.2098 52.89 1.3498 50.22 1.3498 46.68C1.3498 43.18 2.3198 40.53 4.2598 38.73C6.21981 36.91 8.9998 36 12.5998 36Z" fill="white"/>
                  <path d="M42.84 57L41.97 54.09H34.74L33.87 57H27.09L34.62 36.36H42.33L49.86 57H42.84ZM36.12 49.47H40.59L38.43 42.12H38.31L36.12 49.47Z" fill="white"/>
                  <path d="M73.7496 42.69C73.7496 43.95 73.4096 45.09 72.7296 46.11C72.0496 47.13 71.0596 47.88 69.7596 48.36L74.3496 57H66.9096L63.2496 49.47H60.7896V57H54.1596V36.36H66.7896C68.2696 36.36 69.5296 36.65 70.5696 37.23C71.6296 37.79 72.4196 38.56 72.9396 39.54C73.4796 40.5 73.7496 41.55 73.7496 42.69ZM66.9996 42.96C66.9996 42.42 66.8196 41.97 66.4596 41.61C66.0996 41.25 65.6596 41.07 65.1396 41.07H60.7896V44.88H65.1396C65.6596 44.88 66.0996 44.7 66.4596 44.34C66.8196 43.96 66.9996 43.5 66.9996 42.96Z" fill="white"/>
                  <path d="M88.6219 36C91.6819 36 94.1019 36.77 95.8819 38.31C97.6619 39.83 98.5519 42.01 98.5519 44.85H92.2219C92.2219 43.65 91.9019 42.7 91.2619 42C90.6419 41.3 89.7519 40.95 88.5919 40.95C87.2519 40.95 86.2619 41.37 85.6219 42.21C85.0019 43.05 84.6919 44.22 84.6919 45.72V47.64C84.6919 49.12 85.0019 50.29 85.6219 51.15C86.2619 51.99 87.2319 52.41 88.5319 52.41C89.8119 52.41 90.7819 52.08 91.4419 51.42C92.1019 50.76 92.4319 49.83 92.4319 48.63H98.5519C98.5519 51.45 97.6819 53.61 95.9419 55.11C94.2219 56.61 91.7819 57.36 88.6219 57.36C85.1019 57.36 82.4319 56.46 80.6119 54.66C78.8119 52.86 77.9119 50.2 77.9119 46.68C77.9119 43.16 78.8119 40.5 80.6119 38.7C82.4319 36.9 85.1019 36 88.6219 36Z" fill="white"/>
                  <path d="M104.682 34.44L107.442 30.45H113.232L113.292 30.57L108.492 34.44H104.682ZM104.232 36.36H110.862V57H104.232V36.36Z" fill="white"/>
                  <path d="M131.222 57L130.352 54.09H123.122L122.252 57H115.472L123.002 36.36H130.712L138.242 57H131.222ZM124.502 49.47H128.972L126.812 42.12H126.692L124.502 49.47Z" fill="white"/>
                  <path d="M16.0498 93L15.1798 90.09H7.9498L7.0798 93H0.299805L7.8298 72.36H15.5398L23.0698 93H16.0498ZM9.32981 85.47H13.7998L11.6398 78.12H11.5198L9.32981 85.47Z" fill="white"/>
                  <path d="M27.3694 72.36H33.9994V87.72H44.5894V93H27.3694V72.36Z" fill="white"/>
                  <path d="M62.9192 72.36C63.9592 72.36 64.9092 72.58 65.7692 73.02C66.6492 73.44 67.3392 74.04 67.8392 74.82C68.3592 75.6 68.6192 76.47 68.6192 77.43C68.6192 79.97 67.4692 81.57 65.1692 82.23V82.35C67.7892 82.95 69.0992 84.67 69.0992 87.51C69.0992 88.59 68.8292 89.55 68.2892 90.39C67.7692 91.21 67.0492 91.85 66.1292 92.31C65.2092 92.77 64.1992 93 63.0992 93H49.1792V72.36H62.9192ZM55.8092 80.4H60.3692C60.8092 80.4 61.1692 80.25 61.4492 79.95C61.7492 79.63 61.8992 79.24 61.8992 78.78V78.48C61.8992 78.04 61.7492 77.67 61.4492 77.37C61.1492 77.05 60.7892 76.89 60.3692 76.89H55.8092V80.4ZM55.8092 88.2H60.8492C61.2892 88.2 61.6492 88.05 61.9292 87.75C62.2292 87.43 62.3792 87.04 62.3792 86.58V86.28C62.3792 85.82 62.2292 85.44 61.9292 85.14C61.6492 84.82 61.2892 84.66 60.8492 84.66H55.8092V88.2Z" fill="white"/>
                  <path d="M84.5888 72C88.1488 72 90.8988 72.91 92.8388 74.73C94.7788 76.55 95.7488 79.2 95.7488 82.68C95.7488 86.16 94.7788 88.81 92.8388 90.63C90.8988 92.45 88.1488 93.36 84.5888 93.36C81.0288 93.36 78.2788 92.46 76.3388 90.66C74.4188 88.84 73.4588 86.18 73.4588 82.68C73.4588 79.18 74.4188 76.53 76.3388 74.73C78.2788 72.91 81.0288 72 84.5888 72ZM84.5888 76.95C83.1688 76.95 82.0888 77.38 81.3488 78.24C80.6088 79.1 80.2388 80.26 80.2388 81.72V83.64C80.2388 85.1 80.6088 86.26 81.3488 87.12C82.0888 87.98 83.1688 88.41 84.5888 88.41C86.0088 88.41 87.0888 87.98 87.8288 87.12C88.5888 86.26 88.9688 85.1 88.9688 83.64V81.72C88.9688 80.26 88.5888 79.1 87.8288 78.24C87.0888 77.38 86.0088 76.95 84.5888 76.95Z" fill="white"/>
                  <path d="M120.709 78.69C120.709 79.95 120.369 81.09 119.689 82.11C119.009 83.13 118.019 83.88 116.719 84.36L121.309 93H113.869L110.209 85.47H107.749V93H101.119V72.36H113.749C115.229 72.36 116.489 72.65 117.529 73.23C118.589 73.79 119.379 74.56 119.899 75.54C120.439 76.5 120.709 77.55 120.709 78.69ZM113.959 78.96C113.959 78.42 113.779 77.97 113.419 77.61C113.059 77.25 112.619 77.07 112.099 77.07H107.749V80.88H112.099C112.619 80.88 113.059 80.7 113.419 80.34C113.779 79.96 113.959 79.5 113.959 78.96Z" fill="white"/>
                  <path d="M141.029 93L132.359 82.98V93H126.269V72.36H132.059L140.729 82.53V72.36H146.819V93H141.029Z" fill="white"/>
                  <path d="M163.319 72C166.879 72 169.629 72.91 171.569 74.73C173.509 76.55 174.479 79.2 174.479 82.68C174.479 86.16 173.509 88.81 171.569 90.63C169.629 92.45 166.879 93.36 163.319 93.36C159.759 93.36 157.009 92.46 155.069 90.66C153.149 88.84 152.189 86.18 152.189 82.68C152.189 79.18 153.149 76.53 155.069 74.73C157.009 72.91 159.759 72 163.319 72ZM163.319 76.95C161.899 76.95 160.819 77.38 160.079 78.24C159.339 79.1 158.969 80.26 158.969 81.72V83.64C158.969 85.1 159.339 86.26 160.079 87.12C160.819 87.98 161.899 88.41 163.319 88.41C164.739 88.41 165.819 87.98 166.559 87.12C167.319 86.26 167.699 85.1 167.699 83.64V81.72C167.699 80.26 167.319 79.1 166.559 78.24C165.819 77.38 164.739 76.95 163.319 76.95Z" fill="white"/>
                  <path d="M188.549 88.05H198.359V93H178.349V90.87L187.919 77.31H179.069V72.36H198.119V74.49L188.549 88.05Z" fill="white"/>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="uk-visible@m uk-navbar-right">
            <ul class="uk-navbar-nav white">
              <li class="font-uppercase"><a href="{{ site.url }}">{% t navbar.item_1 %}</a></li>
              <li class="font-uppercase"><a href="{{ site.url }}/about/">{% t navbar.item_2 %}</a></li>
              <li class="font-uppercase font-mono-italic font-700">
                {% if site.lang == "es" %}
                  {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                  <a href="{{ link_en }}" class="uk-hidden">EN</a>
                {% elsif site.lang == "en" %}
                  {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                  <a href="{{ link_es }}" class="uk-hidden">ES</a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="uk-hidden@m uk-navbar-right">
            <a class="uk-navbar-toggle white" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
            <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
              <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-flex-middle uk-text-center">
                  <button class="uk-offcanvas-close" type="button" uk-close></button>
                  <ul class="uk-list">
                    <li class="font-uppercase"><a href="{{ site.url }}">{% t navbar.item_1 %}</a></li>
                    <li class="font-uppercase"><a href="{{ site.url }}/about/">{% t navbar.item_2 %}</a></li>
                    {% if site.lang == "es" %}
                      {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                      <li class="uk-hidden font-uppercase font-mono-italic font-700"> <a href="{{ link_en }}" >EN</a> </li>
                    {% elsif site.lang == "en" %}
                      {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                      <li class="uk-hidden font-uppercase font-mono-italic font-700"> <a href="{{ link_es }}" >ES</a> </li>
                    {% endif %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
</header>
