@charset "utf-8";

// Define defaults for each variable.
$base-font-family: 'Karla', sans-serif !default;
$title-font-family: 'Space Grotesk', sans-serif !default;
$highlighted-font-family: 'Space Grotesk', sans-serif !default;
$base-font-size:   0.9rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.9 !default;

$spacing-unit:     30px !default;

// Project colors

$text-color:           #232323 !default;
$background-color:     white !default;
$black:                #232323 !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "liss/base",
  "liss/media",
  "liss/fonts",
  "liss/layout"
;
