/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

::selection{
    background: $black;
}

/**
 * Headings
 */
 h1, h3{
   font-family: $base-font-family;
   color: $black !important;
 }

 h1, h2{
   font-size: 2rem !important;
 }

h3{
   font-size: 1.7rem !important;
   line-height: 2rem !important;
 }

h2, h4, h5 {
  font-family: $title-font-family;
  color: $black !important;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
 * Links
 */
a {
  color: $black;
  text-decoration: underline;
  &:hover, &:focus{
    color: $black;
    text-decoration: none;
  }
}

a.underline {
  color: $black;
  text-decoration: none;
  &:hover, &:focus{
    color: $black;
    text-decoration: underline;
  }
}

/**
 * Sections
 */
.bg-black{
 background: $black;
}

.uk-section{
 padding-top: 80px;
 padding-bottom: 80px;
}

.section-no-color{
 a{
   color: $black;
   &:hover, &:focus{
     text-decoration: underline;
   }
 }
 .uk-description-list>dt{
   color: $black;
 }
}

.section-black{
 background: $black;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: white;
   &:hover, &:focus{
     text-decoration: underline;
   }
 }
 .font-lead{
   color: white;
 }
}

#welcome-project{
  padding: 100px 0 0;
 h2, h3{
   font-size: 2rem;
 }
}

.uk-height-viewport{
  min-height: 50vh;
  color: $black !important;
}

.section-title{
  font-size: 1.1rem;
  font-weight: 700;
  font-family: $title-font-family;
  line-height: 1.4;
  margin-top: 4px;

}

.project-content{
  font-size: 1.1rem;
}

/**
 * Buttons
 */
.uk-button{
 font-family: $title-font-family;
 text-transform: none;
 font-weight: 600;
 background: transparent;
 text-transform: uppercase;
 font-size: 12px;
 letter-spacing: 2px;
 padding: 0 20px;
}

.button-white-transparent, a.button-white-transparent{
 color: white;
 border: 2px solid white;
 &:hover, &:focus{
   color: $black;
   background: white;
 }
}

.button-black, a.button-black{
 color: $black;
 border: 2px solid $black;
 &:hover, &:focus{
   color: white;
   background: $black;
 }
}

/**
 * Basic texts
 */
span{
  font-weight: 600;
}

strong{
  font-weight: 600;
}

.uk-label{
  font-weight: 400;
  padding: 3px 7px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: $title-font-family;
  letter-spacing: 0.1rem !important;
  background: $black;
}

.uk-description-list>dt{
    text-transform: none;
    font-weight: 600;
    font-family: $title-font-family;
}

.uk-accordion-title{
  font-size: 1.1rem;
}

.font-700{
  font-weight: 700;
}

.font-mono{
  font-family: $title-font-family;
}

.font-mono-italic{
  font-family: $title-font-family;
  font-style: italic;
}

.font-sans{
  font-family: $base-font-family;
}

.font-highlighted{
  font-family: $highlighted-font-family !important;
}

.font-lead{
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 1.2rem;
  margin: -10px 0 20px;
}

.font-small{
  font-size: 0.7rem !important;
  line-height: 1.8;
}

.font-medium{
  font-size: 0.8rem !important;
  line-height: 1.8;
}

.font-uppercase{
  font-family: $title-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}

.font-compressed{
  line-height: 1.6;
}

.uk-breadcrumb{
  font-family: $title-font-family;
}

h1.no-project-color, h2.no-project-color, h3.no-project-color, h4.no-project-color, h5.no-project-color, .font-lead.no-project-color, .uk-description-list>dt.no-project-color{
    color: $black;
  }


.list-angle {
  margin: -10px 0 16px 36px;
  float: left;
  &::before{
    content: url'(../assets/images/icon-angle-right.svg)';
    position: relative;
    left: -10px;
    margin-left: -24px;
    top: 8px;
  }
}

.uk-subnav-pill>li>a {
  color: $black !important;
  font-family: $title-font-family;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.8em !important;
  font-weight: 700;
  border: 2px solid;
  margin: 0.5em 0;
  &:hover, &:focus{
    background-color: $black;
    color: #fff !important;
    border: 2px solid $black;
  }
}

.uk-subnav-pill>.uk-active>a {
    background-color: $black;
    color: #fff !important;
    border: 2px solid $black;
}

.uk-subnav.uk-subnav-pill > li.tag {
    color: white;
    background: $black;
    padding: 5px 10px;
    margin-left: 20px;
    margin-top: 6px;
    margin-right: -14px;
    text-transform: uppercase;
    font-size: 0.75em !important;
    border: 2px solid $black;
    font-family: 'Space Mono', monospace;
    letter-spacing: 1px;
}

/**
 * Article
 */
.uk-article-meta{
  font-family: $title-font-family;
}

blockquote{
  font-family: $title-font-family;
}

cite {
  font-size: 0.9rem;
  font-style: normal;
}

/**
 * Cards
 */
.uk-card-default{
  box-shadow: none;
  .uk-card-title {
    color: $black;
    margin: -14px 0 -16px;
    font-weight: 600;
  }
  p{
    color: $black;
  }
}

/**
 * Navbar
 */
.logo-navbar > svg{
  width: 66%;
}

header.uk-sticky {
    background: transparent;
    margin-bottom: -120px;
    z-index: 200;
}

nav.uk-navbar-container {
  padding: 24px 0 10px 0;
}

.uk-navbar-dropdown-nav>li>a {
 color: $black;
 font-size: 0.7rem;
 &:hover{
   color: $black;
 }
}

.uk-navbar-nav{
  .uk-button-default, a.uk-button-default{
    color: $black;
    border: 2px solid white;
    background-color: white;
    font-family: $title-font-family;
    text-transform: none;
    &:hover{
      color: white;
      background: transparent;
    }
  }
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
  min-height: 50px;
  font-size: 0.7rem;
}

.uk-navbar-nav>li>a{
  color: $black;
  &:hover, &:focus{
    color: $black;
    text-decoration: underline;
  }
}

.uk-navbar-nav.white>li>a{
  color: white;
  &:hover, &:focus{
    color: white;
    text-decoration: underline;
  }
}


.uk-navbar-container>.uk-container .uk-navbar-left {
  margin-left: 0;
}

.uk-navbar-container>.uk-container .uk-navbar-right{
  margin-top: -16px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle, li.uk-active>a{
  color: $black;
  font-family: $title-font-family;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent;
  a{
    color: $black;
  }
  .uk-navbar-nav>li>a{
    color: $black;
    text-transform: uppercase;
    &:hover, &:focus,{
      color: $black;
      text-decoration: underline;
    }
  }
  svg>path{
    fill: $black;
  }
}


/**
 * Hero
 */
.icon-hero>svg{
  width: 4%;
  &:hover, &:focus{
    path{
      fill: $black;
    }
  }
}
.icon-footer>svg{
  width: 64%;
  &:hover, &:focus{
    path{
      fill: $black;
    }
  }
}

/**
 * Project
 */
.context::before{
  content: url('../assets/images/item.svg');
}

.uk-overlay-primary {
   background: rgba(0,0,0,.7) !important;
}

.img-mb-120{
  margin-bottom: 120px;
}

.img-shadow{
  filter: drop-shadow(4px 4px 4px #D7DEE2);
}

.footnote{
  margin-bottom: 40px;
}

img{
  width: 100% !important;
}

/**
 * Footer
 */
 footer {
     font-size: 0.8rem;
     background: $black;
     color: white;
     padding: 20px;
     text-align: center;
 }
