/**
 * Fonts:
 *  1. Space Mono
 *  2. IBM Plex Serif
 */



// 1. Space Mono
@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} // SpaceMono-Regular

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} // SpaceMono-Bold

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
} // SpaceMono-BoldItalic


// 2. IBM Plex Serif
@font-face {
  font-family: 'IBM Plex Serif', serif;
  src: url('fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} // IBMPlexSerif-Regular

@font-face {
  font-family: 'IBM Plex Serif', serif;
  src: url('fonts/IBM_Plex_Serif/IBMPlexSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
} // IBMPlexSerif-Italic

@font-face {
  font-family: 'IBM Plex Serif', serif;
  src: url('fonts/IBM_Plex_Serif/IBMPlexSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
} // IBMPlexSerif-SemiBold

@font-face {
  font-family: 'IBM Plex Serif', serif;
  src: url('fonts/IBM_Plex_Serif/IBMPlexSerif-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
} // IBMPlexSerif-SemiBoldItalic
