@media only screen and (max-width: 991px) {
  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1rem;
  }
  h4{
    font-size: 0.9rem;
  }
  h5{
    font-size: 0.8rem;
  }
  body{
    font-size: 0.8rem;
    line-height: 1.7;
  }
  .uk-accordion-title {
    font-size: 1rem;
  }

  #welcome-project{
   h2, h3{
     font-size: 1.2rem;
   }
  }

  .img-mb-120{
    margin-bottom: 60px;
  }

  /**
   * Navbar
   */

  .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle, li.uk-active > a{
    color: black;
    &:hover, &:focus{
      color: black;
    }
  }

  .uk-navbar-toggle.white{
    color: white;
    &:hover, &:focus{
      color: white;
    }
  }

  .uk-offcanvas-bar{
    background: black;
    font-size: 0.7rem !important;
    a{
      color: white;
      &:hover, &:focus{
        color: white;
        text-decoration: underline;
      }
    }
    hr{
      border-top-color: white;
      border-top: 2px solid white;
    }
    .uk-close{
      color: white;
      &:hover, &:focus{
        color: white;
      }
    }
  }

  .logo-navbar>svg{
    width: 60%;
  }
  /**
   * Hero
   */
  .icon-hero>svg{
      width: 10%;
  }
}
