---
layout: default
---

<div id="welcome-project" class="uk-section uk-height-viewport uk-flex uk-flex-center animated fadeIn">
  <div class="uk-container uk-width-3-4@m" style="margin-top:100px;" uk-grid>
    <div class="uk-width-1-1">
      <a href="{{ site.url }}/case-studies"><p class="font-small font-uppercase">< Case Studies</p></a>
    </div>
    <div class="uk-width-1-1@m">
      <h2 class="font-700 animated fadeInUp">{{ page.name }}</h2>
      <h3 class="animated fadeInUp" style="margin:-10px 0 40px">{{ page.subtitle }}</h3>
    </div>
    <div class="uk-width-1-4@m">
      <div class="uk-flex uk-flex-center animated fadeInUp" uk-grid>
        <div class="uk-width-1-1@m">
          {% if {{page.category}} != null %}
          <div class="context">
            <p class="font-uppercase font-small">{{ page.category }} <span>{{ page.country }}</span></p>
          </div>
          {% endif %}
          {% if {{page.collaboration_01}} != null %}
          <div class="context">
            <p class="font-uppercase font-small">{{ page.collaboration_01 }} {{ page.designer_01 }} {{ page.collaboration_02 }} {{ page.designer_02 }}</p>
          </div>
          {% endif %}
          {% if {{page.role}} != null %}
          <div class="context">
            <p class="font-uppercase font-small"><span>{{ page.role }}</span></p>
          </div>
          {% endif %}
          <ul class="uk-subnav uk-subnav-pill" style="margin-top:-10px;">
            {% if {{page.area_01}} != null %}
              <li class="font-uppercase font-small">{{ page.area_01 }}</li>
            {% endif %}
            {% if {{page.area_02}} != null %}
              <li class="font-uppercase font-small">{{ page.area_02 }}</li>
            {% endif %}
            {% if {{page.area_03}} != null %}
              <li class="font-uppercase font-small">{{ page.area_03 }}</li>
            {% endif %}
            {% if {{page.area_04}} != null %}
              <li class="font-uppercase font-small">{{ page.area_04 }}</li>
            {% endif %}
            {% if {{page.area_05}} != null %}
              <li class="font-uppercase font-small">{{ page.area_05 }}</li>
            {% endif %}
            {% if {{page.area_06}} != null %}
              <li class="font-uppercase font-small">{{ page.area_06 }}</li>
            {% endif %}
            {% if {{page.area_07}} != null %}
              <li class="font-uppercase font-small">{{ page.area_07 }}</li>
            {% endif %}
            {% if {{page.area_08}} != null %}
              <li class="font-uppercase font-small">{{ page.area_08 }}</li>
            {% endif %}
            {% if {{page.area_09}} != null %}
              <li class="font-uppercase font-small">{{ page.area_09 }}</li>
            {% endif %}
            {% if {{page.area_10}} != null %}
              <li class="font-uppercase font-small">{{ page.area_10 }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-width-3-4@m">
      <img src="{{ page.hero_image_desktop }}" class="animated fadeInUp" alt="" />
    </div>
  </div>
</div>

<div class="uk-section uk-flex uk-flex-center animated fadeIn">
  <div class="uk-container uk-width-3-4@m" uk-grid>
    {{ content }}
  </div>
</div>
