---
layout: default
---

<div id="hero" class="uk-section uk-flex uk-flex-middle animated fadeIn delay-1s fast" style="margin:100px 0 -50px">
  <div class="uk-container uk-width-3-4@m">
    <div uk-grid>
      <div class="uk-width-5-6@m">
        <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title %}</h1>
        <!-- <a class="icon-hero" href="#projects" uk-scroll>
          <svg class="animated fadeInUp delay-2s fast uk-hidden" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M48.7685 22.0412C48.3815 21.6507 47.921 21.3407 47.4137 21.1292C46.9064 20.9177 46.3622 20.8088 45.8126 20.8088C45.263 20.8088 44.7189 20.9177 44.2115 21.1292C43.7042 21.3407 43.2438 21.6507 42.8567 22.0412L29.1597 35.791V4.16659C29.1597 3.06154 28.7211 2.00175 27.9403 1.22037C27.1595 0.438979 26.1006 0 24.9964 0C23.8923 0 22.8334 0.438979 22.0526 1.22037C21.2718 2.00175 20.8332 3.06154 20.8332 4.16659V35.791L7.13617 22.0412C6.35222 21.2567 5.28895 20.8159 4.18027 20.8159C3.07159 20.8159 2.00833 21.2567 1.22437 22.0412C0.44042 22.8258 0 23.8899 0 24.9995C0 26.1091 0.44042 27.1732 1.22437 27.9578L22.0406 48.7907C22.4365 49.17 22.9034 49.4674 23.4144 49.6657C23.9128 49.8861 24.4516 50 24.9964 50C25.5413 50 26.0801 49.8861 26.5785 49.6657C27.0895 49.4674 27.5564 49.17 27.9523 48.7907L48.7685 27.9578C49.1587 27.5705 49.4685 27.1096 49.6798 26.6019C49.8912 26.0942 50 25.5496 50 24.9995C50 24.4495 49.8912 23.9049 49.6798 23.3971C49.4685 22.8894 49.1587 22.4286 48.7685 22.0412V22.0412Z" fill="#000"/>
          </svg>
        </a>
        <a href="#projects" uk-scroll class="uk-button button-black animated fadeInUp delay-2s fast">{% t home.hero.button %}</a>
        -->
      </div>
    </div>
  </div>
</div>

<div id="projects" class="uk-section uk-flex uk-flex-center animated fadeIn delay-2s fast">
  <div class="uk-container uk-width-3-4@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div uk-filter="target: .js-filter">
      <!--<ul uk-accordion="collapsible: false">
          <li>
              <a class="uk-accordion-title" href="#" uk-filter-control>{% t projects.all %}</a>
              <div class="uk-accordion-content">
                <p></p>
              </div>
          <li>
              <a class="uk-accordion-title" href="#">Área</a>
              <div class="uk-accordion-content">
                <ul class="uk-subnav uk-subnav-pill">
                    <li uk-filter-control="[data-tags*='web']"><a href="#">{% t projects.tag_05 %}</a></li>
                    <li uk-filter-control="[data-tags*='frontend']"><a href="#">{% t projects.tag_06 %}</a></li>
                    <li uk-filter-control="[data-tags*='graphic']"><a href="#">{% t projects.tag_10 %}</a></li>
                    <li uk-filter-control="[data-tags*='art']"><a href="#">{% t projects.tag_01 %}</a></li>
                    <li uk-filter-control="[data-tags*='identity']"><a href="#">{% t projects.tag_02 %}</a></li>
                    <li uk-filter-control="[data-tags*='editorial']"><a href="#">{% t projects.tag_04 %}</a></li>
                    <li uk-filter-control="[data-tags*='info']"><a href="#">{% t projects.tag_07 %}</a></li>
                    <li uk-filter-control="[data-tags*='research']"><a href="#">{% t projects.tag_08 %}</a></li>
                    <li uk-filter-control="[data-tags*='facilitation']"><a href="#">{% t projects.tag_09 %}</a></li>
                </ul>
              </div>
          </li>
      </ul>-->
        <div class="js-filter uk-child-width-1-3@m uk-grid-small" uk-grid>
          {% for p in site.projects %}
          {% if p.lang == site.lang %}
          {% if p.visible_home %}
          <div style="margin-bottom: 40px;" data-tags="{{ p.tag_01 }} {{ p.tag_02 }} {{ p.tag_03 }} {{ p.tag_04 }} {{ p.tag_05 }} {{ p.tag_06 }} {{ p.tag_07 }} {{ p.tag_08 }} {{ p.tag_09 }} {{ p.tag_10 }}">
            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                <a href="{{p.url | prepend:site.baseurl }}"><img src="{{ p.cover_image | prepend:site.baseurl_root }}" class="uk-transition-scale-up uk-transition-opaque" alt="" /></a>
            </div>
            {% if {{p.label}} != null %}
              <span class="uk-label font-small" style="font-size: 0.6rem !important;margin-bottom: -40px;">{{ p.label }}</span>
            {% endif %}
            <h2 class="font-700" style="font-size: 1.5rem !important;margin-top: 40px;">{{ p.name }}</h2>
            <h3 style="margin: -8px 0 20px; font-size: 1rem !important;line-height: 1.2rem !important;">{{ p.subtitle }}</h3>
          </div>
         {% endif %}
         {% endif %}
         {% endfor %}
       </div>
     </div>
  </div>
</div>
