---
layout: default
---

<div id="welcome-project" class="uk-section uk-height-viewport uk-flex uk-flex-center animated fadeIn">
  <div class="uk-container uk-width-3-4@m" style="margin-top:100px;" uk-grid>
    <div class="uk-width-1-1">
      <a href="{{ site.url }}"><p class="font-small font-uppercase">< All my projects</p></a>
    </div>
    <div class="uk-width-3-4@m">
      <span class="uk-label font-small">{{ page.label }}</span>
      <h2 class="font-700 animated fadeInUp">{{ page.name }}</h2>
      <h3 class="animated fadeInUp" style="margin:-10px 0 40px">{{ page.subtitle }}</h3>
    </div>
    <div class="uk-width-1-4@m">
      <div class="uk-flex uk-flex-center animated fadeInUp" uk-grid>
        <div class="uk-width-1-1@m">
          {% if {{page.versions}} != null %}
          <div class="context">
            <p class="font-uppercase font-small">{{ page.versions }} <span>{{ page.years }}</span></p>
          </div>
          {% endif %}
          {% if {{page.category}} != null %}
          <div class="context">
            <p class="font-uppercase font-small">{{ page.category }} <span>{{ page.country }}</span></p>
          </div>
          {% endif %}
          {% if {{page.collaboration_01}} != null %}
          <div class="context">
            <p class="font-uppercase font-small"s>{{ page.collaboration_01 }} {{ page.designer_01 }} {{ page.collaboration_02 }} {{ page.designer_02 }}</p>
          </div>
          {% endif %}
        </div>
        <div class="uk-width-1-1@m uk-hidden">
          {% if {{page.role}} != null %}
          <p class="font-uppercase" style="margin-bottom: -10px">{{ page.role }}</p>
          {% endif %}
          <ul class="uk-subnav uk-subnav-pill">
            {% if {{page.area_01}} != null %}
              <li class="tag">{{ page.area_01 }}</li>
            {% endif %}
            {% if {{page.area_02}} != null %}
              <li class="tag">{{ page.area_02 }}</li>
            {% endif %}
            {% if {{page.area_03}} != null %}
              <li class="tag">{{ page.area_03 }}</li>
            {% endif %}
            {% if {{page.area_04}} != null %}
              <li class="tag">{{ page.area_04 }}</li>
            {% endif %}
            {% if {{page.area_05}} != null %}
              <li class="tag">{{ page.area_05 }}</li>
            {% endif %}
            {% if {{page.area_06}} != null %}
              <li class="tag">{{ page.area_06 }}</li>
            {% endif %}
            {% if {{page.area_07}} != null %}
              <li class="tag">{{ page.area_07 }}</li>
            {% endif %}
            {% if {{page.area_08}} != null %}
              <li class="tag">{{ page.area_08 }}</li>
            {% endif %}
            {% if {{page.area_09}} != null %}
              <li class="tag">{{ page.area_09 }}</li>
            {% endif %}
            {% if {{page.area_10}} != null %}
              <li class="tag">{{ page.area_10 }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="project" class="uk-section uk-flex uk-flex-center animated fadeIn">
  <div class="uk-container uk-width-3-4@m">
    {% if {{page.lead}} != null %}
    <p class="font-lead" style="margin-bottom: 90px;">{{ page.lead }}</p>
    {% endif %}
        <div class="">
      {% for block in page.blocks %}
          {% if {{block.title}} != null %}
          <p class="footnote">
            <span class="font-highlighted uk-card-title font-medium font-uppercase">
              {{ block.title }}
            </span>
          {% endif %}
          {% if {{block.title}} != null %}
            {{ block.description }}
          </p>
          {% endif %}
        <div class="uk-child-width-1-{{ block.columns }}@m {{ block.img-margin }} uk-grid-small uk-flex uk-flex-center" uk-grid>
          {% for image in block.images %}
          <div>
            <img src="{{ image.url | prepend:site.baseurl_root }}" class="{{ block.img-shadow }}" alt="" />
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
